.docs-preview-image {
    transition: all 1s;
    width: 35vw;
    max-width: none;
    border-radius: 2vw;
    transform: translate(15%);
    filter: brightness(80%);
}


.docs-preview-image.move {
    transform: translate(15%, 30px);
}


@media (max-width: 1024px) {
    .docs-preview-image {
        width: 60vw;
    }
 }