
.trello-preview-video {
    transition: all 1s;
    width: 40vw;
    max-height: none;
    max-width: none;
    border-radius: 2vw;
    transform: translate(10%);
    filter: drop-shadow(16px 16px 20px #330026) brightness(80%);
}

.trello-preview-video.move {
    transform: translate(10%, 30px);
}

@media (max-width: 1024px) {
    .trello-preview-video {
        width: 60vw;
        transform: translate(9vw);
    }
 }