@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
    position: relative;
}
body {
    line-height: 1;
	min-height: 100%;
	width: 100%;
	background-color: rgb(17,17,17);
    -scrollbarBgColor: var(--c-dark);
    --scrollbarThumbColor: var(--c-accent);
}
#root {
	height: 100%;
	width: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Victor Mono', monospace !important
}

.size-to-end {
    height: calc(100vh - var(--navbar-height) - 5rem);
}

:root {
    --font-body: clamp(1rem, .8852rem + .4898vw, 1.375rem);
    --font-h2: clamp(1.5rem, 1rem + 2.449vw, 2.95rem);
    --font-h1: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);

    --navbar-height: 30px;

    --page-padding-top: 1.5rem;

    --page-padding-x-xl: 9rem;
    --page-padding-x-lg: 5rem;
    --page-padding-x-md: 3.5rem;
}

:host ::ng-deep[title]:hover::after{
    background-color: red !important;
}

@media (max-width: 1280px) {
    .size-to-end {
        height: calc(100svh - var(--navbar-height) - 6rem);
    }
  }

.ignore-padding {
    width: calc(100% + var(--page-padding-x-md) * 2); 
    margin-left: calc(var(--page-padding-x-md) * -1);
}
.ignore-padding.md {
    width: 100%; 
    margin-left: 0;
}
@media (min-width: 1280px) {
    .ignore-padding {
        width: calc(100% + var(--page-padding-x-xl) * 2); 
        margin-left: calc(var(--page-padding-x-xl)  * -1);
    }
    .ignore-padding.xl {
        width: 100%; 
        margin-left: 0;
    }
}

@media (min-width: 1025px) {
    .ignore-padding {
        width: calc(100% + var(--page-padding-x-lg) * 2); 
        margin-left: calc(var(--page-padding-x-lg) * -1) ;
    }
    .ignore-padding.lg {
        width: 100%; 
        margin-left: 0;
    }
}

